/* src/app/colors.css */
:root {
  /*The first list of colors were mostly pre-rendered by next, most will be removed or replaced. */
    --background: 0 0 0;
    --foreground: 255 255 255;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  
    --header-bg-color: #000000; 
    --text-color: #ffffff; 
    --text-color-sub:#B2BEB5;
    --menu-item-bg-color: #000000; 
    --menu-hover-item-bg-color: #303030; 
    --menu-active-item-bg-color: #202020; 


    /* Dark Mode Colors for DataDiagram*/
    --DD-bg-color: #121212; 
    --DD-card-bg-color: #1e1e1e; 
    --DD-edge-color: #ffffff; 
    --DD-edge-marker-color: #ff5722; 
    --DD-text-color: #e0e0e0; 
    --DD-subText-color: #c0c0c0;

  }
  .light {
    --background: 255 255 255 1;
    --foreground: 0 0 0;
    --card: 0 0% 95%;
    --card-foreground: 222.2 47.4% 11.2%;
    --popover: 0 0% 95%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 84% 90%;
    --primary-foreground: 0 0 0;
    --secondary: 222.2 84% 95%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 222.2 84% 95%;
    --muted-foreground: 222.2 47.4% 40%;
    --accent: 222.2 84% 95%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 255 255 255;
    --border: 222.2 84% 80%;
    --input: 222.2 84% 90%;
    --ring: 222.2 47.4% 11.2%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    
    --header-bg-color: #ffffff;
    --text-color: #000000;
    --text-color-sub:#36454F;
    --menu-item-bg-color: #ffffff;
    --menu-hover-item-bg-color: #f0f0f0;
    --menu-active-item-bg-color: #e0e0e0;

  
   --DD-bg-color: #f0f0f0; 
   --DD-card-bg-color: #ffffff; 
   --DD-edge-color: #000000; 
   --DD-edge-marker-color: #ff5722; 
   --DD-text-color: #333333; 
   --DD-subText-color: #666666;

}

